@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: FS Kim,Georgia,serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: FS Kim,Georgia,serif;
}
/* Navbar Start */
#navbar{
    background: #fffefe;
    position: fixed;
    width: 100%;
    z-index: 2;
  
}


#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px rgb(245, 237, 237);
    margin-bottom: 5px;
}
#logo span{
    color: #ffa500;
}
.navbar-toggler span{
    color: #000;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 18px;
    font-weight: 450;
    color: #1b365f;
    letter-spacing:none;
    border-radius: 3px;
    transition: 0.5s ease;
}

#cam{
    border-bottom: #fb911f solid 2px;
}

.nav-item .nav-link:hover{
    background: #ffa500;
    color: white;
    font-size: 18px;
}
.info{
    background-color:rgb(252, 253, 254);
}

/* Navbar End */