.reveal{
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(1,.51,0,.44);
}

.reveal1{
    opacity: 0;
    transform: translateX(50px);
}

.reveal-visible1{
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(1,.51,0,.44);
}

.reveal2{
    opacity: 0;
    transform: translateX(-50px);
}

.reveal-visible2{
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(1,.51,0,.44);
}
