@import url('../main.css');


/* Home Section Start */
.home{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)), url(../../images/cloture1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h4{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "Ip";}
    10%{content: "Alarme";}
    30%{content: "HDCVI";}
    50%{content: "Sans fil";}
    70%{content: "Espion";}
    100%{content: "Xiaomi";}
   
}  
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background: rgb(197, 9, 9);
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover{
    background: #ffa500;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}

@media (max-width:320px){
   body{
    overflow-x: hidden;
   }

  
}

@media (max-width:450px){
    
    .home .content h5{
        font-size: 25px;
    }
    .home .content h4{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Home Section End */





.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ffa500;
}

@media (max-width:765px){
    
    .main-text h1{
        padding: 20px;
    }
}


.info{
    font-size: 1.2rem;
}



/* Section Packages Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
  
}

.main-txt h1 span{
    color: #ffa500;
}




.temoignage{
    background: #fb911f;
    width: 100%;
    font-size: 1.2rem;
}

.temoignage .contenu{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.temoignage .contenu .box{
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.temoignage .contenu .box .imbox{
    width: 100%;
    height: 80%;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.temoignage .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.temoignage .contenu .box .text{
    text-align: center;
    color: #000;
    font-style: italic;
}

.temoignage .contenu .box .text h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}



/* Section Services Start */
.services{
    background: #f9f9f9;
    margin-top: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #ffa500;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body{
    text-align: center;
}
/* Section Services End */


.about1{
    font-size: 1.2rem;
}



/* About Start */
.about{
    padding: 10px;
    font-size: 1.2rem;
    background: #fff; 
   
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}
.about span{
    color: rgb(255, 66, 66);
}




.about2{
    padding: 10px;
    background: #fff;
    font-size: 1.2rem;  
}
.about2 .card{
    border-radius: 10px;
}
.about2 .card img{
    border-radius: 10px;
}
.about2 h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about2 p{
    font-weight: 500;
}
.about2 span{
    color: rgb(1, 61, 24);
}

@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */


@media (max-width:980px) and (max-width:1080px) {
    *{
        overflow-x: hidden;
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}



@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}